/* selector universal */ 
*{
    padding: 0 auto; 
    margin: 0 auto;
}

/* selecto ID */ 
#contenedor {
    width: 1400px;
    height: 1200px;
    background-color: rgb(255, 255, 255);
}
#Encabezado{
    height: 15%;
    background-color: rgb(18, 9, 103);
    margin: 1em;
    color: rgb(255, 255, 255);
    font-size: 23px;
    text-align: center;

}
#menu{
    height: 5%;
    font-family:Impact;
    background-color: rgb(174, 5, 5);
    margin: 1em auto;

}
#contenido {
    height: 70%;
    width: 61%;
    background-color: rgba(255, 255, 255, 0.237);
    margin: 0.5em;
    float: left;

}
#fueraSeccion{
    height: 70%;
    width: 36%;
    background-color: rgb(228, 228, 228);
    margin: 0.5em;
    float: right;
    padding: 5px;
    align-items: center;
}
#piePagina{
    height: 5%;
    background-color: rgb(6, 13, 118);
    border-radius: 1em;
    color: #ddd;
    margin: 1.5em;
    text-align: center;
}

/* selector de clase */ 
.texto{
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;

}
.encabezado_articulo{
    text-align: center;
    background-color: rgb(179, 23, 23);
    color: white;
    margin: auto 2em;
    font-size: 25px;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.encabezado_articulo2{
    text-align: center;
    background-color: rgba(18, 16, 163, 0.997);
    color: white;
    margin: auto 2em;
    font-size: 25px;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.encabezado_fuera{
    text-align: center;
    background-color: rgb(16, 191, 10);
    color: white;
    margin: auto 2em;
    font-size: 15px;
    border-radius: 15px;
    margin-top: 10px;
}
.imagenes {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 37.5%;
    border-radius: 4px;
    width: 150px;

}
.imagenes2 {
    display: block;
    margin-top: 50px;
    border-radius: 4px;
    width: 320px;

}

.imagenesencabezado {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 200px;
}
.imagenesencabezado2 {
    display: inline;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    margin-bottom: 25px;
    border-radius: 4px;
    width: 75px;
    height: 75px;
}

/* SELECTOR DE ETIQUETAS */
ul {

    text-align: center;
}

li {

display: inline;
padding-left: 60px;
padding-right: 60px;

}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 30px;
}
